Flask
Flask-Cors
chromadb
langchain
langchainhub
google-generativeai
python-dotenv
gunicorn
langchain-chroma
langchain-community
huggingface-hub
torch
transformers
sentence-transformers
huggingface-embeddings
